#coluna01 {
    background-color: blue;
    position: absolute;
    top: 120px;
    left: 290px;
    width: 150px;
    height: 100px;
}
#coluna02 {
    background-color: green;
    position: absolute;
    top: 120px;
    left: 450px;
    width: 150px;
    height: 100px;
}
#coluna03 {
    background-color: yellow;
    position: absolute;
    top: 120px;
    left: 130px;
    width: 150px;
    height: 100px;
}